<link rel='stylesheet' href='css/404.css' />
<div class='File-not-found-bg'>
    <div class='file-not-found-content'>
        <h1>OOP!</h1>
        <h3>PAGE NOT FOUND</h3>

        <div class='d-flex justify-content-around mt-3'>
            <a class='btn btn-outline-light' onclick= 'history.back()'>GO BACK</a>
            <a class='btn btn-outline-light' href="/">GO HOME</a>
        </div>
    </div>
</div>