<h1 class='mt-3'>Change password</h1>
<p>You need to change your password first before accessing to other resources</p>
<form method='post'>
    <div class='mb-3'>
        <label for='' class='form-label'>Password</label>
        <input type='password' class='form-control' name='newPassword' />
    </div>
    <div class='mb-3'>
        <button class='btn btn-primary'>Change password</button>
    </div>
</form>